<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d %-5level [%thread] %logger - %msg%n</Pattern>
        </layout>
    </appender>


    <appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
        <facility>SYSLOG</facility>
        <suffixPattern> burrower:%-5level [%thread] %logger - %msg</suffixPattern>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>